@import "../../../style-variables.scss";

.main-menu-item {
    margin-right: 25px;

    &:last-child {
        margin-right: 0;
    }

    .main-menu-item-link {
        all: unset;
        cursor: pointer;

        transition: 0.3s;
        background-color: transparent;
        padding: 2px 15px 4px;
        border-radius: $borderRadius;
        border: 1px solid $colorWhite;

        &:hover {
            border: 1px solid #696cff29;
        }

        &.active {
            background-color: rgba(105, 108, 255, 0.16);
            color: $activeMenuItemColor;
        }
    }
}