$btnColorBlue: #5d7be9;
$buttonBgBlue: #5d7be9;

$colorRed: #ff3e1d;
$colorWhite: #fff;
$white: #ffffff;

$bgBody: #f5f5f9;
$bgRed: #ff5722;

$labelColor: #566a7f;
$textColor: #697a8d;
$inputBorderColor: #c7cdd4;

$boxShadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);

$employeeBgColor: #d9e9f0;
$activeMenuItemColor: #696cff;

$borderColor: #d9dee3;
$borderRadius: 0.375rem;
$topMenuHoverBorder: #696cff29;
$focusBorderColor: #696cff;

$errorDashedBorderColor: #ffc9c9;