@import "/style-vaiables.scss";

.button {
    color: $colorWhite;
    background-color: $buttonBgBlue;
    font-size: 1rem;
    padding: 0.68rem 1rem;
    border-radius: $borderRadius;
    border: none;
    cursor: pointer;

    &:disabled {
        cursor: no-drop;
        background-color: lighten($buttonBgBlue, 10%);
    }

    &[color=red] {
        background-color: red;
    }
}