@import '/style-vaiables.scss';

.main-layout {
    flex: 1;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        min-width: 100vw;
        padding: 0 1rem;
        box-shadow: $boxShadow;
        background-color: $colorWhite;
        height: 50px;

        .menu {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;

                li {
                    margin-right: 25px;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        all: unset;
                        cursor: pointer;
                    }
                }
            }

        }

        .user {
            display: flex;
            align-items: center;
            cursor: pointer;

            gap: 0.5rem;
            margin-inline-end: 1rem;

            .user-icon {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 40px;
                    background-color: #abe5ff;
                    border-radius: 50%;
                    border: 4px solid $employeeBgColor;
                    margin-top: 2px;
                }
            }

            .user-name {
                color: $textColor;
            }


        }
    }

    main {
        flex: 1;
    }

    footer {
        color: $labelColor;
        min-height: 20px;
        background-color: $colorWhite;
        border-top: 2px solid #e9e9e9;
        padding: 0.3rem;
        text-align: center;
    }
}