@import '/style-variables.scss';

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 24px;


    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;


        label {
            display: flex;
            justify-content: flex-start;
            font-size: 0.8rem;
            color: $labelColor;
            margin-bottom: .5rem;

            &:not(:first-child) {
                margin-top: 1rem;
            }
        }

        input {
            display: flex;
            font-size: 1rem;
            padding: 0.43rem 0.75rem;
            border: 1px solid $inputBorderColor;
            border-radius: $borderRadius;

            &:focus {
                border-color: #696cff
            }


            &.error {
                border-color: $colorRed;
            }
        }

        .field-error-message {
            display: flex;
            font-size: 85%;
            color: $colorRed;
            justify-content: flex-start;
            margin-top: .4rem;
        }

        .submit-button {
            margin-top: 3rem;
        }
    }
}