.logo {
    all: unset;

    display: flex;
    justify-content: left;
    cursor: pointer;

    &.logo-main-layout {
        img {
            height: 25px;
            align-self: center;
        }

        span {
            font-size: 20px;
            margin-inline-start: 0.7rem;
        }
    }

    span {
        font-size: 26px;
        align-self: center;
        margin-inline-start: 1rem;
        color: #383838;
        font-weight: 400;
    }
}