@import '/style-variables.scss';

.login-page {
    display: flex;
    flex-direction: column;
    background-color: $colorWhite;
    border: none;
    border-radius: $borderRadius;
    box-sizing: border-box;
    box-shadow: $boxShadow;
    width: 400px;
    min-height: 200px;

    .logo-block {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        padding-block: 30px 20px;
    }

    .header {
        margin-block-end: 1rem;
        padding: 0 1rem;
        color: $textColor;
        text-align: center;
    }

    .error-block {
        width: 100%;
        background-color: $bgRed;
        padding: 1rem;
        color: $colorWhite;
    }
}