.login-page {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border: none;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    width: 400px;
    min-height: 200px;

    .logo-block {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        padding-block: 30px 20px;
    }

    .header {
        margin-block-end: 1rem;
        padding: 0 1rem;

        h1 {
            font-size: 1.3rem;
            white-space: pre-line;
        }
    }

    .error-block {
        width: 100%;
        background-color: var(--bg-red);
        padding-block: 1rem;
        color: var(--color-white)
    }
}