@import '/style-vaiables.scss';

.agency-page {
	display: flex;
	flex-direction: column;
	width: 1440px;
	background-color: $white;
	box-shadow: $boxShadow;
	padding: 2rem;
	border-radius: $borderRadius;
	margin: 2rem;


	&.new-agency {}

}